@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(white, #d7d5db    );
}

h1 {
    color: red;
    font-size: 4em;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
}

input {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    color: red;
    font-size: 1.1em;
    border: 1px solid red;
    border-radius: 20px;
    background-color: white;
}
